body {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* Utility */

label {
    font-weight: 700;
}

a, a:hover {
        text-decoration: none;
}

.full-width {    
    widows: 100%;
}

/* Website */
nav.navbar-dark a {
    color: white;
}

/* Pages */
nav.navbar-light a {
    color: black;
}

/* Widgets */
.icon-right{
    position: absolute;
    right: 15px;
    z-index: 1;
    background: white;
    border-radius: 5px;
    Padding: 10px;
}