body {
    padding-top: 75px;
    padding-bottom: 75px;
}

nav a, nav button i {
  color: white;
} 

.navbar-light a, .navbar-light span, .navbar-light button {
   color: black;
}    

label {
    font-wieght: 700;
}

.navbar-light a, .navbar-light span, .navbar-light button i {
    color: black;
}

label{
    font-weight: 700;
}

.width-90 {
    width:90%
}

.absolute-right {
   position: absolute;
   right: 15px;
   z-index: 2; 
}
span {
   cursor: pointer;
}

         
     
  
